<!DOCTYPE html>
<html>
<head>
<title>Heart Disease Prediction</title>
</head>

<body>

<h2>Heart Disease Prediction</h2>

<form action="/predict" method="post">

Age: <input type="text" name="age"><br><br>
Sex: <input type="text" name="sex"><br><br>
Chest Pain: <input type="text" name="cp"><br><br>
Blood Pressure: <input type="text" name="trestbps"><br><br>
Cholesterol: <input type="text" name="chol"><br><br>
FBS: <input type="text" name="fbs"><br><br>
Rest ECG: <input type="text" name="restecg"><br><br>
Max Heart Rate: <input type="text" name="thalach"><br><br>
Exercise Angina: <input type="text" name="exang"><br><br>
Oldpeak: <input type="text" name="oldpeak"><br><br>

<button type="submit">Predict</button>

</form>

</body>
</html>